<p class='big-parag'>
    Kickstarter skateboard drinking vinegar squid. Poke la croix hashtag wayfarers, paleo
    subway tile jean shorts neutra salvia iceland. Viral meggings hella put a bird on it yuccie
    wayfarers. VHS everyday carry cronut messenger bag, occupy tousled chillwave migas
    meditation fashion axe godard cold-pressed pug tofu beard.
</p>

<p class='sub-header-page'>Please select your test:</p>
<div class="text-center">
    <a class=" btn btn-primary btn-lg btn-page"
       ui-sref="testInfo({type:'LKRDS'})">Likert Scale Diagnostic</a>

    <a class=" btn btn-primary btn-lg btn-page " style="width: 450px"
       ui-sref="testInfo({type:'SRTSK'})">Sort Task</a>
</div>
