<section>
    <div class="container">
        <div class="alert alert-dismissible alert-danger  col-md-12" ng-show="vm.errors.length">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div ng-repeat="err in vm.errors">
                <strong>{{err.title}}</strong>
                <span>{{err.message}}</span>
            </div>
        </div>
        <div class="line-wrap col-md-12">
            <a href="#" class='circle-link  reset-padding' style="width: 25px;" ng-class='{"circle-link-active":vm.currentStep>0}'>
                <span class='circle-btn' style="left: -1px"></span><span class='circle-link-text'>Apostolic</span>
            </a>

            <a href="#" class='circle-link  reset-padding' ng-class='{"circle-link-active":vm.currentStep>1}'>
                <span class='circle-btn'></span><span class='circle-link-text'>Prophetic</span>
            </a>
            <a href="#" class='circle-link  reset-padding' ng-class='{"circle-link-active":vm.currentStep>2}'>
                <span class='circle-btn'></span><span class='circle-link-text'>Evangelistic</span>
            </a>
            <a href="#" class='circle-link reset-padding' ng-class='{"circle-link-active":vm.currentStep>3}'>
                <span class='circle-btn'></span><span class='circle-link-text'>Shepherd</span>
            </a>
            <a href="#" class='circle-link  reset-padding' ng-class='{"circle-link-active":vm.currentStep>4}'>
                <span class='circle-btn'></span><span class='circle-link-text'>Teacher</span>
            </a>
            <a href="#" class='circle-link  reset-padding'>
                <span class='circle-btn'></span><span class='circle-link-text'>Results</span>
            </a>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h1 class='light-blue-header'>Apostle Statements</h1>

        <h3 class='sub-title-bold'> Instructions </h3>

        <p class='default-parag'>
            All of the following statements were made by the same person between the ages of 4 and 45. Take a few minutes to look over the statements and make sure they are in the order in which you think it would have been possible for this person to have made each statement.
        </p>

        <div class='quote'>
            <p>
                Please look over the follow statements. Highlight anything that is unclear to you. Also highlight any statements that <br /> appear to be too close and are not "obviously" in the proper order.
            </p>
        </div>
        <div style="margin-left: 20px;">
            <ul class="list logList">
                <li ng-repeat="entry in vm.sortingLog track by $index" class="logItem">
                    {{entry}}
                </li>
            </ul>
        </div>
        <h3 class='sub-title-bold'> Apostolic function of trans-local influence and networking </h3>
        <ul ui-sortable="vm.sortableOptions"  ng-model="vm.questions" class='list-statement col-md-12 reset-padding'>
            <li class='item-statement col-md-12' ng-repeat="question in vm.questions">
                <div class="row">
                    <div class='col-md-11'>
                        <span class="letter-li">A.</span> {{ question.questionText }}
                    </div>
                    
                    <div class='col-md-1 text-right '>
                        <!--<a href="#"><i class="material-icons">open_with</i></a>-->
                        <a href="#"><i class="material-icons">swap_vert</i></a>
                    </div>
                </div>
            </li>

        </ul>


        <ul class='list-statement col-md-12 reset-padding'>
            <li class='item-statement col-md-12'><span class='letter-li col-md-1'>A.</span> <p class='col-md-10'> The word apostle means 'sent'</p> <a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a></li>
            <li class='item-statement col-md-12'><span class='letter-li col-md-1'>G.</span>  <p class='col-md-10'>An apostolic organization takes what God has shown them and sends it to other groups </p><a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a></li>
            <li class='item-statement col-md-12'>
                <span class='letter-li col-md-1'>C</span>  <p class='col-md-10'>
                    An apostolic organization connects leaders from different groups to share insights and
                    innovations. They help each other be more effective.
                </p><a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a>
            </li>
            <li class='item-statement  col-md-12'>
                <span class='letter-li col-md-1'>F.</span> <p class='col-md-10'>
                    An apostolic organization analyzes its own internal effectiveness, as well as it effectiveness in
                    influencing other groups. It reflects upon how it is doing and how to better apply principles in
                    other contexts.
                </p> <a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a>
            </li>
            <li class='item-statement  col-md-12'>
                <span class='letter-li col-md-1'>B.</span> <p class='col-md-10'>
                    An apostolic organization looks to network leaders and their groups to enhance impact and
                    influence. When a diverse group of people get together, a more balanced set of insights will
                    become possible.
                </p> <a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a>
            </li>
            <li class='item-statement  col-md-12'>
                <span class='letter-li col-md-1'>H.</span> <p class='col-md-10'>
                    An apostolic organization considers the nuances of experiences expressed by other network
                    leaders and even “outsiders.” It analyzes and reflects upon them to gain insight into
                    effectiveness. Sometimes this means the development of new types of measurements.
                </p>  <a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a>
            </li>
            <li class='item-statement  col-md-12'>
                <span class='letter-li col-md-1'>E.</span> <p class='col-md-10'>
                    An apostolic organization looks to connect with unreached peoples, both locally and globally,
                    by focusing on what is universal across cultures and therefore reproducible in any context.
                </p>  <a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a>
            </li>
            <li class='item-statement  col-md-12'>
                <span class='letter-li col-md-1'>D.</span>  <p class='col-md-10'>
                    An apostolic organization is a realized movement that connects to other movements to
                    influence and be influenced by them.
                </p> <a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a>
            </li>
        </ul>

        <hr class="divider-content col-md-12 reset-padding" />

        <h3 class='sub-title-bold'> Apostolic function of trans-local influence and networking </h3>


        <ul class='list-apostolic-statement col-md-12 reset-padding'>
            <li class='item-statement col-md-12'><span class='letter-li col-md-1'>A.</span> <p class='col-md-10'> The word apostle means ‘sent’</p> <a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a></li>
            <li class='item-statement col-md-12'><span class='letter-li col-md-1'>G.</span>  <p class='col-md-10'>An apostolic organization takes what God has shown them and sends it to other groups </p><a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a></li>
            <li class='item-statement col-md-12'>
                <span class='letter-li col-md-1'>C</span>  <p class='col-md-10'>
                    An apostolic organization connects leaders from different groups to share insights and
                    innovations. They help each other be more effective.
                </p><a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a>
            </li>
            <li class='item-statement  col-md-12'>
                <span class='letter-li col-md-1'>F.</span> <p class='col-md-10'>
                    An apostolic organization analyzes its own internal effectiveness, as well as it effectiveness in
                    influencing other groups. It reflects upon how it is doing and how to better apply principles in
                    other contexts.
                </p> <a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a>
            </li>
            <li class='item-statement  col-md-12'>
                <span class='letter-li col-md-1'>B.</span> <p class='col-md-10'>
                    An apostolic organization looks to network leaders and their groups to enhance impact and
                    influence. When a diverse group of people get together, a more balanced set of insights will
                    become possible.
                </p> <a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a>
            </li>
            <li class='item-statement  col-md-12'>
                <span class='letter-li col-md-1'>H.</span> <p class='col-md-10'>
                    An apostolic organization considers the nuances of experiences expressed by other network
                    leaders and even “outsiders.” It analyzes and reflects upon them to gain insight into
                    effectiveness. Sometimes this means the development of new types of measurements.
                </p>  <a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a>
            </li>
            <li class='item-statement  col-md-12'>
                <span class='letter-li col-md-1'>E.</span> <p class='col-md-10'>
                    An apostolic organization looks to connect with unreached peoples, both locally and globally,
                    by focusing on what is universal across cultures and therefore reproducible in any context.
                </p>  <a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a>
            </li>
            <li class='item-statement  col-md-12'>
                <span class='letter-li col-md-1'>D.</span>  <p class='col-md-10'>
                    An apostolic organization is a realized movement that connects to other movements to
                    influence and be influenced by them.
                </p> <a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a>
            </li>
        </ul>

        <hr class="divider-content col-md-12 reset-padding" />

        <h3 class='sub-title-bold'> Apostolic function of trans-local influence and networking </h3>


        <ul class='list-apostolic-statement col-md-12 reset-padding'>
            <li class='item-statement col-md-12'><span class='letter-li col-md-1'>A.</span> <p class='col-md-10'> The word apostle means ‘sent’</p> <a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a></li>
            <li class='item-statement col-md-12'><span class='letter-li col-md-1'>G.</span>  <p class='col-md-10'>An apostolic organization takes what God has shown them and sends it to other groups </p><a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a></li>
            <li class='item-statement col-md-12'>
                <span class='letter-li col-md-1'>C</span>  <p class='col-md-10'>
                    An apostolic organization connects leaders from different groups to share insights and
                    innovations. They help each other be more effective.
                </p><a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a>
            </li>
            <li class='item-statement  col-md-12'>
                <span class='letter-li col-md-1'>F.</span> <p class='col-md-10'>
                    An apostolic organization analyzes its own internal effectiveness, as well as it effectiveness in
                    influencing other groups. It reflects upon how it is doing and how to better apply principles in
                    other contexts.
                </p> <a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a>
            </li>
            <li class='item-statement  col-md-12'>
                <span class='letter-li col-md-1'>B.</span> <p class='col-md-10'>
                    An apostolic organization looks to network leaders and their groups to enhance impact and
                    influence. When a diverse group of people get together, a more balanced set of insights will
                    become possible.
                </p> <a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a>
            </li>
            <li class='item-statement  col-md-12'>
                <span class='letter-li col-md-1'>H.</span> <p class='col-md-10'>
                    An apostolic organization considers the nuances of experiences expressed by other network
                    leaders and even “outsiders.” It analyzes and reflects upon them to gain insight into
                    effectiveness. Sometimes this means the development of new types of measurements.
                </p>  <a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a>
            </li>
            <li class='item-statement  col-md-12'>
                <span class='letter-li col-md-1'>E.</span> <p class='col-md-10'>
                    An apostolic organization looks to connect with unreached peoples, both locally and globally,
                    by focusing on what is universal across cultures and therefore reproducible in any context.
                </p>  <a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a>
            </li>
            <li class='item-statement  col-md-12'>
                <span class='letter-li col-md-1'>D.</span>  <p class='col-md-10'>
                    An apostolic organization is a realized movement that connects to other movements to
                    influence and be influenced by them.
                </p> <a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a>
            </li>
        </ul>

        <hr class="divider-content col-md-12 reset-padding" />

        <h3 class='sub-title-bold'> Apostolic function of trans-local influence and networking </h3>


        <ul class='list-apostolic-statement col-md-12 reset-padding'>
            <li class='item-statement col-md-12'><span class='letter-li col-md-1'>A.</span> <p class='col-md-10'> The word apostle means ‘sent’</p> <a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a></li>
            <li class='item-statement col-md-12'><span class='letter-li col-md-1'>G.</span>  <p class='col-md-10'>An apostolic organization takes what God has shown them and sends it to other groups </p><a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a></li>
            <li class='item-statement col-md-12'>
                <span class='letter-li col-md-1'>C</span>  <p class='col-md-10'>
                    An apostolic organization connects leaders from different groups to share insights and
                    innovations. They help each other be more effective.
                </p><a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a>
            </li>
            <li class='item-statement  col-md-12'>
                <span class='letter-li col-md-1'>F.</span> <p class='col-md-10'>
                    An apostolic organization analyzes its own internal effectiveness, as well as it effectiveness in
                    influencing other groups. It reflects upon how it is doing and how to better apply principles in
                    other contexts.
                </p> <a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a>
            </li>
            <li class='item-statement  col-md-12'>
                <span class='letter-li col-md-1'>B.</span> <p class='col-md-10'>
                    An apostolic organization looks to network leaders and their groups to enhance impact and
                    influence. When a diverse group of people get together, a more balanced set of insights will
                    become possible.
                </p> <a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a>
            </li>
            <li class='item-statement  col-md-12'>
                <span class='letter-li col-md-1'>H.</span> <p class='col-md-10'>
                    An apostolic organization considers the nuances of experiences expressed by other network
                    leaders and even “outsiders.” It analyzes and reflects upon them to gain insight into
                    effectiveness. Sometimes this means the development of new types of measurements.
                </p>  <a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a>
            </li>
            <li class='item-statement  col-md-12'>
                <span class='letter-li col-md-1'>E.</span> <p class='col-md-10'>
                    An apostolic organization looks to connect with unreached peoples, both locally and globally,
                    by focusing on what is universal across cultures and therefore reproducible in any context.
                </p>  <a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a>
            </li>
            <li class='item-statement  col-md-12'>
                <span class='letter-li col-md-1'>D.</span>  <p class='col-md-10'>
                    An apostolic organization is a realized movement that connects to other movements to
                    influence and be influenced by them.
                </p> <a href="#" class='col-md-1'><i class="material-icons">swap_vert</i></a>
            </li>
        </ul>

    </div>
</section>


<footer>
    <div class="container">
        <p class='link-footer-next'>Next: <strong>Shepherd</strong> <img src="images/link-next.png"></p>
    </div>
</footer>