@{
    ViewBag.Title = "Home Page";
}

<div class="container margin-T-20">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu ex mauris. Sed eget magna in enim mattis tincidunt et ut enim. Proin non massa ut dolor semper lobortis in ac lorem. In vitae fringilla ligula. Aenean nec velit nec dolor ullamcorper consequat in ac ante. Nullam purus diam, laoreet sit amet est eu, venenatis pellentesque purus. Aliquam quis molestie sem, id porta ipsum. Fusce iaculis fringilla pharetra. Ut quis accumsan lorem. Aliquam ultricies, ante in feugiat ultricies, magna nisl faucibus magna, sed aliquet est enim eget mi. Integer ipsum velit, rutrum in leo sed, pharetra ultricies elit. Aenean dolor ipsum, tempus eget sagittis eu, accumsan a risus. Suspendisse potenti. Ut in suscipit nisl. Suspendisse mollis, purus vel venenatis porta, sapien dui feugiat eros, at efficitur est metus id purus. Duis in vehicula lectus, vel bibendum lacus.
</div>
