<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="NywFleetContext"
   connectionString="Data Source=mcvvop7ric.database.windows.net,1433;Initial Catalog=NywFleet;Integrated Security=false;User ID=orest;Password=3BR$2BA8932347+-"
   providerName="System.Data.SqlClient"
   xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

  </system.web>
</configuration>
