<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="NYFleetContext"
   connectionString="Data Source=tfw.database.windows.net,1433;Initial Catalog=5QTest;User Id=test5Quser; Password=3BR$2BA8932347-5Q.Pwd!;Pooling=true;MultipleActiveResultSets=True"
   providerName="System.Data.SqlClient"
   xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

  </system.web>
</configuration>
